{% extends "main_menu_base.html" %}
{% block title %}History Footnote: Archive{% endblock %}
{% block contents %}
    <ul>
        <li><a href="/about">About the original idea for this website (link to assignment 1)</a></li>
        <li><a href="#">www.link.com</a></li>
        <li><a href="#">www.anotherlink.com</a></li>
        <li><a href="#">www.fakelink.com</a></li>
    </ul>

    <table border="1">
        <h4>Table showing current users in database:</h4>
        {% for user in users %}
            <tr>
                <td>Username: {{ user.username }}</td>
                <td>Email: {{ user.email }}</td>
                {% if user.icon %}
                    <td>Avatar: <img src="static/{{ user.icon }}" width="50px"></td>
                {% else %}
                    <td>Avatar: <img src="static/icons8-user-100.png" width="50px"></td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    <h4>List of books suggested by users to add to database!:</h4>
    <ol>
    {% for book in books %}
        <li>{{ book.title }} by {{ book.author }}</li>
    {% endfor %}
    </ol>
{% endblock %}