<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/formStyle.css">
    <title>Register | Login</title>
    <style>
        div.form{
            padding:30px;
            margin:20px;
        }
        div#register{
            float:left;
        }
        div#login{
           padding:50px;
        }
    </style>
</head>
<body>
<div id="register_err">
    {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>

</div>
<div id="login_err">
    {% else %}
    {% if form2.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                {% for error in field_errors %}
                    <li>{{ form2[field_name].label }}: {{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
</div>

<div id="register" class="form">
    <form action="/Connection" method="post">
        {{ form.csrf_token }}
        <h4>Registration</h4>
        {{ form.username.label }}{{ form.username }}<br/>
        {{ form.email.label }}{{ form.email }}<br/>
        {{ form.password.label }}{{ form.password }}<br/>
        {{ form.password2.label }}{{ form.password2 }}<br/>
        {{ form.submit }}
    </form>
</div>

<div id="login" class="form">
    <form action="/Connection" method="post">
        {{ form2.csrf_token }}
        <h4>Already registered?</h4>
        <h4>Login</h4>
        {{ form2.username.label }}{{ form2.username }}<br/>
        {{ form2.password.label }}{{ form2.password }}<br/>
        {{ form2.submit }}
    </form>
</div>

</body>
</html>